@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-j7hq7v');
	src:url('fonts/icomoon.eot?#iefix-j7hq7v') format('embedded-opentype'),
		url('fonts/icomoon.woff?-j7hq7v') format('woff'),
		url('fonts/icomoon.ttf?-j7hq7v') format('truetype'),
		url('fonts/icomoon.svg?-j7hq7v#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	color: white;
	font-size: 32px;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
	content: "\e600"; 
}

.icon-pen:before {
	content: "\e601"; // default pen
}

.icon-disk:before {
	content: "\e602";
}

.icon-remove:before {
	content: "\e603";
}
