* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	text-size-adjust: 100%; 
	margin: 0;
	background: url("../img/handmadepaper.min.png")

	// background: url("handmadepaper@2x.min.png")
}

canvas {
	display: block;
}

