* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  text-size-adjust: 100%;
  margin: 0;
}

canvas {
  display: block;
}

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?-j7hq7v");
  src: url("fonts/icomoon.eot?#iefix-j7hq7v") format("embedded-opentype"), url("fonts/icomoon.woff?-j7hq7v") format("woff"), url("fonts/icomoon.ttf?-j7hq7v") format("truetype"), url("fonts/icomoon.svg?-j7hq7v#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: white;
  font-size: 32px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
  content: "\e600";
}

.icon-pen:before {
  content: "\e601";
}

.icon-disk:before {
  content: "\e602";
}

.icon-remove:before {
  content: "\e603";
}

.menu {
  position: fixed;
  width: 100%;
  height: 48px;
  background-color: #333;
}
.menu:before {
  content: "";
  position: absolute;
  width: 90px;
  height: 90px;
  left: 50%;
  margin: -45px;
  top: 16px;
  border-radius: 50%;
  background-color: white;
  transition: border-radius 550ms;
}
.menu.open-whole:before {
  border-radius: 0;
}

[id="clear"].button {
  top: 8px;
  left: 5px;
}

[id="save"].button {
  top: 8px;
  left: 58px;
}

[id="brush-type"].button {
  top: 8px;
  right: 64px;
}

.button {
  position: absolute;
  display: block;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
.button.highlight {
  color: #666;
}

[id="color-menu-button"] {
  z-index: 5;
  font-family: sans-serif;
  position: absolute;
  width: 71px;
  height: 71px;
  left: 50%;
  margin: -35.5px;
  top: 16px;
  line-height: 71px;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9ImNpcmNsZSIgY3k9IiIgcj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzcwODA5MCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzM0MzQzNCIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -moz-radial-gradient(circle, #708090, #343434);
  background: -webkit-radial-gradient(circle, #708090, #343434);
  background: radial-gradient(circle, #708090, #343434);
  border-radius: 50%;
  color: white;
  text-align: center;
  cursor: pointer;
}
[id="color-menu-button"]:before {
  content: "\2630";
  font-size: 30px;
}

.drop-down,
.drop-down + ul {
  animation: drop 100ms forwards cubic-bezier(1, 0, 0.755, 1.47);
}

.rise-up,
.rise-up + ul {
  animation: rise 300ms forwards cubic-bezier(1, 0, 0.755, 1.47);
}

.rise-up + ul li {
  pointer-events: none;
}

li {
  position: absolute;
  width: 75px;
  height: 75px;
  left: 50%;
  margin: -37.5px;
  list-style: none;
  border: 3px solid white;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 300ms cubic-bezier(1, 0, 0.755, 1.47);
}
.drop-down + ul li:nth-child(1) {
  transform: translateX(0px) translateY(-100px);
}
.drop-down + ul li:nth-child(2) {
  transform: translateX(70.71068px) translateY(-70.71068px);
}
.drop-down + ul li:nth-child(3) {
  transform: translateX(100px) translateY(0.0px);
}
.drop-down + ul li:nth-child(4) {
  transform: translateX(70.71068px) translateY(70.71068px);
}
.drop-down + ul li:nth-child(5) {
  transform: translateX(0.0px) translateY(100px);
}
.drop-down + ul li:nth-child(6) {
  transform: translateX(-70.71068px) translateY(70.71068px);
}
.drop-down + ul li:nth-child(7) {
  transform: translateX(-100px) translateY(0.0px);
}
.drop-down + ul li:nth-child(8) {
  transform: translateX(-70.71068px) translateY(-70.71068px);
}

.selected {
  z-index: 1;
  transform: scale(1.2);
}

@keyframes rise {
  from {
    transform: translateY(200px);
  }

  to {
    transform: translateY(0);
  }
}
@keyframes drop {
  to {
    transform: translateY(200px);
  }
}
.brush-size {
  top: 4px;
  right: 5px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background-color: white;
  font-weight: bold;
}

input[type="range"] {
  position: absolute;
  -webkit-appearance: none;
  z-index: -1;
  margin: 0;
  top: 98px;
  right: -50px;
  outline: none;
  background-color: #ccc;
  border-radius: 25px;
  width: 150px;
  height: 50px;
  transform: rotate(-90deg) translateY(50px);
  transition: transform 300ms cubic-bezier(1, 0, 0.755, 1.47);
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #666;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
input[type="range"].show-slider {
  transform: rotate(-90deg) translateY(0);
}
